# Amortization Schedule
Make an amortization schedule for your loan. Adjust the Loan details to match your loan.

In [6]:
import pandas as pd
import numpy as np

# Loan details
loan_amount = 90000  # Amount financed after 10% down
annual_interest_rate = 0.155  # 15.5% interest
loan_term_years = 10
monthly_interest_rate = annual_interest_rate / 12  # Monthly interest rate
num_payments = loan_term_years * 12  # Total number of payments

# Calculate monthly payment using loan amortization formula
monthly_payment = (loan_amount * monthly_interest_rate) / (1 - (1 + monthly_interest_rate) ** -num_payments)

# Create amortization schedule
schedule = []
remaining_balance = loan_amount

for month in range(1, num_payments + 1):
    interest_payment = remaining_balance * monthly_interest_rate
    principal_payment = monthly_payment - interest_payment
    remaining_balance -= principal_payment
    
    schedule.append([month, monthly_payment, principal_payment, interest_payment, max(0, remaining_balance)])

# Convert to DataFrame
columns = ["Month", "Monthly Payment", "Principal", "Interest", "Remaining Balance"]
amortization_df = pd.DataFrame(schedule, columns=columns)
amortization_df = amortization_df.round(2)

# Format values with $ sign and commas
amortization_df["Monthly Payment"] = amortization_df["Monthly Payment"].apply(lambda x: f"${x:,.2f}")
amortization_df["Principal"] = amortization_df["Principal"].apply(lambda x: f"${x:,.2f}")
amortization_df["Interest"] = amortization_df["Interest"].apply(lambda x: f"${x:,.2f}")
amortization_df["Remaining Balance"] = amortization_df["Remaining Balance"].apply(lambda x: f"${x:,.2f}")


# Display first few rows
amortization_df

     Month Monthly Payment  Principal   Interest Remaining Balance
0        1       $1,479.69    $317.19  $1,162.50        $89,682.81
1        2       $1,479.69    $321.29  $1,158.40        $89,361.51
2        3       $1,479.69    $325.44  $1,154.25        $89,036.07
3        4       $1,479.69    $329.65  $1,150.05        $88,706.43
4        5       $1,479.69    $333.90  $1,145.79        $88,372.52
..     ...             ...        ...        ...               ...
115    116       $1,479.69  $1,387.73     $91.97         $5,732.48
116    117       $1,479.69  $1,405.65     $74.04         $4,326.83
117    118       $1,479.69  $1,423.81     $55.89         $2,903.02
118    119       $1,479.69  $1,442.20     $37.50         $1,460.83
119    120       $1,479.69  $1,460.83     $18.87             $0.00

[120 rows x 5 columns]

In [7]:
# Remove formatting and convert back to numeric for calculations
amortization_df_numeric = amortization_df.copy()
amortization_df_numeric["Monthly Payment"] = amortization_df_numeric["Monthly Payment"].replace('[\$,]', '', regex=True).astype(float)
amortization_df_numeric["Principal"] = amortization_df_numeric["Principal"].replace('[\$,]', '', regex=True).astype(float)
amortization_df_numeric["Interest"] = amortization_df_numeric["Interest"].replace('[\$,]', '', regex=True).astype(float)

# Calculate totals
total_paid = amortization_df_numeric["Monthly Payment"].sum()
total_principal = amortization_df_numeric["Principal"].sum()
total_interest = amortization_df_numeric["Interest"].sum()

# Format totals with $ sign and commas
total_paid_formatted = f"${total_paid:,.2f}"
total_principal_formatted = f"${total_principal:,.2f}"
total_interest_formatted = f"${total_interest:,.2f}"

totals_df = pd.DataFrame({
    "Category": ["Total Amount Paid", "Total Principal Paid", "Total Interest Paid"],
    "Amount": [total_paid_formatted, total_principal_formatted,total_interest_formatted]
})

totals_df

               Category       Amount
0     Total Amount Paid  $177,562.80
1  Total Principal Paid   $90,000.07
2   Total Interest Paid   $87,563.40